/* @mixin myname(){}   // @include myname(); @function myFn(){}  // myFn(); */
body { margin: 0; padding: 0; }

a:focus { outline: 0; }

button:focus { outline: 0; }

#wrap { width: 1903px; height: 100%; }

#bg { width: 100%; height: 955px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/main_bg_02.jpg); background-size: cover; }

#headBox { margin: auto; max-width: 1920px; width: 100%; height: 100px; padding-top: 30px; background-color: rgba(0, 0, 0, 0); }

#headBox .nav { margin: auto; width: 1120px; height: 100%; }

#headBox .nav h1 { float: left; width: 100px; height: 100px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/logo.png); background-size: 50%; }

#headBox .nav h1 a { display: block; width: 100%; height: 100%; }

#headBox .nav ul { float: right; display: flex; width: 600px; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/nav.png); }

#headBox .nav ul li { width: 120px; height: 100%; }

#headBox .nav ul li a { display: block; width: 100%; height: 100%; }

#banner { padding-top: 160px; margin: auto; width: 1120px; height: 700px; }

#banner .textBox { width: 100%; height: 600px; text-align: center; }

#banner .textBox .hi p { font-size: 20px; text-align: center; }

#banner .textBox .im { margin: auto; width: 450px; height: 50px; }

#banner .textBox .im p { font-size: 51px; float: left; }

#banner .textBox .im span { font-size: 51px; font-weight: bold; float: right; }

#banner .textBox .work { padding-top: 30px; margin: auto; width: 200px; height: 40px; }

#banner .textBox .work p { font-size: 16px; font-weight: 300; }

#banner .textBox .icon { /* Icons */ /* pop-up text */ /* pop-up text arrow */ /* text pops up when icon is in hover state */ /* font awesome icons */ }

#banner .textBox .icon .fontawesome { display: inline-block; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#banner .textBox .icon a { color: #fff; background: #222; border-radius: 4px; text-align: center; text-decoration: none; font-family: fontawesome; position: relative; display: inline-block; width: 40px; height: 28px; padding-top: 10px; margin: 0 5px; -o-transition: all .5s; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; -webkit-font-smoothing: antialiased; }

#banner .textBox .icon a:hover { background: #555; }

#banner .textBox .icon a span { color: #666; position: absolute; font-family: sans-serif; bottom: 0; left: -25px; right: -25px; padding: 5px 7px; z-index: -1; font-size: 14px; border-radius: 2px; background: #fff; visibility: hidden; opacity: 0; -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

#banner .textBox .icon a span:before { content: ''; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; position: absolute; bottom: -5px; left: 40px; }

#banner .textBox .icon a:hover span { bottom: 50px; visibility: visible; opacity: 1; }

@keyframes mousewheel { 0% { opacity: 1;
    margin-top: 0; }
  100% { opacity: 0;
    margin-top: 15px; } }

#banner .textBox .pointer { margin-top: 350px; width: 100%; height: 80px; }

#banner .textBox .pointer .mouse { margin: auto; width: 30px; height: 50px; border: 2px solid #222; border-radius: 15px; box-sizing: border-box; }

#banner .textBox .pointer .wheel { margin: auto; width: 5px; height: 10px; text-indent: -3000px; background-color: #222; border-radius: 10px; animation: mousewheel 1s linear infinite; }

#profile { position: relative; padding-top: 100px; box-sizing: border-box; width: 100%; height: 780px; /* skill_pop */ /* abtitle */ /* abBox */ /* abProgram */ /* .profileBox */ }

#profile .skill_pop { right: 0; left: 0; margin: auto; position: absolute; z-index: 1000; width: 1120px; height: 580px; background-color: #e9e6e6; }

#profile .abtitle { width: 100%; height: 150px; /* h2 */ /* p */ }

#profile .abtitle h2 { margin: auto; font-size: 3rem; line-height: 100px; text-align: center; width: 300px; height: 90px; color: #222; }

#profile .abtitle p { font-size: 16px; color: #222; text-align: center; font-weight: bold; }

#profile button { margin-top: -12%; margin-right: 1.5%; float: right; width: 30px; height: 30px; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/black_x.png); }

#profile .abBox { width: 1116px; height: 420px; margin: auto; border: 2px solid #222; }

#profile .abProgram { float: left; width: 50%; height: auto; min-height: 500px; }

#profile .bar { width: 100%; height: auto; margin-bottom: 10px; color: #222; padding: 30px 0; /*  50px */ }

#profile .bar dl { float: left; width: 90%; height: 100%; transform: translateX(9%); margin-bottom: 20px; /* dt */ }

#profile .bar dl dt { float: left; font-weight: bold; width: 100px; height: 30px; line-height: 90px; margin-bottom: 5px; }

#profile .bar dl dd { float: left; height: 20px; margin-bottom: 10px; /* narr */ }

#profile .bar dl dd.narr { width: 50%; font-size: 0.8rem; padding: 0 5%; color: #222; }

#profile .bar dl dd.gage { width: 70%; height: 30px; padding: 0 5%; /* span */ /* i */ /* em */ }

#profile .bar dl dd.gage span { float: left; width: 80%; height: 100%; background-color: transparent; border: 1px solid #222; border-radius: 2px; }

#profile .bar dl dd.gage i { display: block; height: 100%; background-color: rgba(252, 9, 9, 0.2); border-right: 1px solid #222; transition: width 1000ms ease; }

#profile .bar dl dd.gage em { float: right; width: 50px; height: 100%; line-height: 30px; font-style: normal; }

#profile .abBox i { width: 0; }

#profile .abBox.active .ps i { width: 90%; }

#profile .abBox.active .ai i { width: 90%; }

#profile .abBox.active .id i { width: 70%; }

#profile .abBox.active .html i { width: 90%; }

#profile .abBox i { width: 0; }

#profile .abBox.active .css i { width: 90%; }

#profile .abBox.active .scss i { width: 90%; }

#profile .abBox.active .js i { width: 80%; }

#profile .abBox.active .git i { width: 70%; }

#profile .profileBox { width: 1120px; height: 570px; margin: auto; /* myImg */ /* myTextBox */ }

#profile .profileBox .myImg { float: left; width: 400px; height: 570px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/my.png); }

#profile .profileBox .myTextBox { color: #222; float: right; width: 660px; height: 570px; /* intro */ /* Privacy */ /* buttonBox */ }

#profile .profileBox .myTextBox .intro { width: 100%; height: 250px; }

#profile .profileBox .myTextBox .intro h5 { font-size: 18px; padding: 5px; }

#profile .profileBox .myTextBox .intro h2 { padding: 5px; }

#profile .profileBox .myTextBox .intro p { padding: 5px; line-height: 25px; }

#profile .profileBox .myTextBox .Privacy { width: 100%; height: 250px; /* leftBox */ /* rightBox */ }

#profile .profileBox .myTextBox .Privacy p { font-size: 20px; line-height: 50px; }

#profile .profileBox .myTextBox .Privacy .leftBox { float: left; width: 200px; height: 100%; }

#profile .profileBox .myTextBox .Privacy .rightBox { float: right; width: 460px; height: 100%; }

#profile .profileBox .myTextBox .buttonBox { padding-top: 20px; box-sizing: border-box; width: 450px; height: 70px; /* @keyframes sheen */ /* contact */ /* skill */ }

@keyframes sheen { 0% { transform: skewY(-45deg) translate(0); }
  100% { transform: skewY(-45deg) translate(12.5em); } }

#profile .profileBox .myTextBox .buttonBox .fx { position: relative; text-align: center; transition: all 0.2s ease-in-out; overflow: hidden; }

#profile .profileBox .myTextBox .buttonBox .fx:before { position: absolute; content: " "; display: block; background-color: rgba(255, 255, 255, 0.5); width: 30px; height: 100%; top: 0; left: -4.5em; transform: skewX(-45deg) translateX(0); transition: none; }

#profile .profileBox .myTextBox .buttonBox .fx:hover { background-color: #222; color: #fff; border-radius: 50px; /* &:before */ }

#profile .profileBox .myTextBox .buttonBox .fx:hover:before { transform: skewX(-45deg) translateX(13.5em); transition: all 0.5s ease-in-out; }

#profile .profileBox .myTextBox .buttonBox .contact { float: left; width: 200px; height: 50px; border-radius: 30px; border: 1px solid #222; /* a */ }

#profile .profileBox .myTextBox .buttonBox .contact a { display: block; color: #222; width: 100%; height: 100%; text-align: center; /* span */ }

#profile .profileBox .myTextBox .buttonBox .contact a span { line-height: 50px; font-weight: bold; }

#profile .profileBox .myTextBox .buttonBox .skill { float: right; width: 200px; height: 50px; border-radius: 30px; border: 1px solid #222; /* a */ }

#profile .profileBox .myTextBox .buttonBox .skill a { display: block; color: #222; width: 100%; height: 100%; /* span */ }

#profile .profileBox .myTextBox .buttonBox .skill a span { display: block; text-align: center; line-height: 50px; font-weight: bold; }

/* #profile */
#portfolio { padding-top: 100px; box-sizing: border-box; width: 100%; height: 738px; /* product_textBox */ /* .product */ /* load_more */ }

#portfolio .product_textBox { margin: auto; width: 1120px; height: 250px; }

#portfolio .product_textBox h2 { text-align: center; width: 100%; height: 40px; }

#portfolio .product_textBox p { text-align: center; margin-bottom: 40px; }

#portfolio .product_textBox .red_line { margin: auto; width: 4px; height: 30px; background-color: red; }

#portfolio .product { margin-bottom: 30px; width: 100%; height: 384px; /* ul */ }

#portfolio .product ul { width: 100%; height: 100%; }

#portfolio .product ul li { float: left; width: 475px; height: 100%; overflow: hidden; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/tesla_mokup.png); background-size: 80%; /* a */ }

#portfolio .product ul li a { display: block; width: 100%; height: 100%; /* dl */ }

#portfolio .product ul li a dl { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); transform: translateY(90%); transition: 300ms ease; /* dt */ /* dd */ }

#portfolio .product ul li a dl dt { width: 100%; height: 10px; text-align: center; line-height: 30px; color: #fff; font-size: 18px; font-weight: bold; transition: all 300ms ease; }

#portfolio .product ul li a dl dd { width: 100%; height: 100%; text-align: center; margin-top: 30px; font-size: 16px; color: #fff; line-height: 18px; opacity: 1; transition: all 300ms ease; }

#portfolio .product ul li a.active dl { transform: translateY(0); }

#portfolio .product ul li a.active dt { color: #f30; }

#portfolio .product ul li a.active dd { opacity: 1; }

#portfolio .product ul li:nth-child(2) { background-image: url(../img/2019.png); background-size: 100%; }

#portfolio .product ul li:nth-child(3) { background-image: url(../img/dell_mokup.png); background-size: 100%; }

#portfolio .product ul li:nth-child(4) { background-image: url(../img/nivea_mokup.png); background-size: 100%; }

#portfolio .load_more { margin: auto; width: 200px; height: 50px; border-radius: 30px; border: 1px solid #222; /* @keyframes sheen */ /* a  */ }

@keyframes sheen { 0% { transform: skewY(-45deg) translate(0); }
  100% { transform: skewY(-45deg) translate(12.5em); } }

#portfolio .load_more .fx { position: relative; text-align: center; transition: all 0.2s ease-in-out; overflow: hidden; }

#portfolio .load_more .fx:before { position: absolute; content: " "; display: block; background-color: rgba(255, 255, 255, 0.5); width: 30px; height: 100%; top: 0; left: -4.5em; transform: skewX(-45deg) translateX(0); transition: none; }

#portfolio .load_more .fx:hover { background-color: #222; color: #fff; border-radius: 50px; /* &:before */ }

#portfolio .load_more .fx:hover:before { transform: skewX(-45deg) translateX(13.5em); transition: all 0.5s ease-in-out; }

#portfolio .load_more a { display: block; color: #222; width: 100%; height: 100%; /* span */ }

#portfolio .load_more a span { text-align: center; line-height: 50px; font-weight: bold; }

/* #portfolio */
#resume { padding-top: 300px; box-sizing: border-box; width: 100%; height: 1300px; /* product_textBox */ /* resumeBox */ /* fixBox */ /* main_slide */ }

#resume .product_textBox { margin: auto; width: 1120px; height: 160px; }

#resume .product_textBox h2 { text-align: center; width: 100%; height: 40px; }

#resume .product_textBox p { text-align: center; margin-bottom: 40px; }

#resume .product_textBox .red_line { margin: auto; width: 4px; height: 30px; background-color: red; }

#resume .resumeBox { padding-top: 100px; width: 1120px; height: 800px; margin: auto; /* title */ /* .title_02 */ /* resume_element */ /* Education */ /* Experience */ }

#resume .resumeBox .title { margin-bottom: 30px; display: flex; width: 100%; height: 30px; /* icon_01 */ }

#resume .resumeBox .title .icon_01 { width: 30px; height: 30px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/Education.png); }

#resume .resumeBox .title_02 { margin-top: 20px; margin-bottom: 30px; display: flex; width: 100%; height: 30px; /* .icon_02 */ }

#resume .resumeBox .title_02 .icon_02 { width: 30px; height: 30px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/Experience.png); }

#resume .resumeBox h2 { margin-left: 15px; }

#resume .resumeBox .resume_element { width: 100%; height: 190px; border: 1px solid #222; margin-bottom: 30px; }

#resume .resumeBox .resume_element p { padding: 15px; }

#resume .resumeBox .resume_element span { padding: 15px; font-weight: bold; }

#resume .resumeBox .resume_element .underline { margin: 10px 0 0 15px; width: 510px; height: 1px; background-color: #222; }

#resume .resumeBox .Education { float: left; width: 550px; height: 750px; }

#resume .resumeBox .Experience { float: right; width: 550px; height: 750px; }

#resume .fixBox { margin-bottom: 50px; width: 100%; height: 300px; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; background-image: url(../img/code.jpg); background-size: cover; background-position: 50% 20%; background-attachment: fixed; opacity: 30%; }

#resume .persona_slide { overflow: hidden; margin: auto; position: relative; width: 100%; max-width: 1120px; height: 500px; margin-top: 80px; /* btn */ /* ul */ }

#resume .persona_slide .btn { position: absolute; z-index: 30; bottom: 50%; width: 1120px; height: 100px; /* button */ }

#resume .persona_slide .btn .prevBtn { float: left; background-color: transparent; }

#resume .persona_slide .btn .nextBtn { float: right; background-color: transparent; }

#resume .persona_slide .btn button { width: 100px; height: 100px; font-size: 1rem; color: #00136F; }

#resume .persona_slide ul { position: relative; margin-left: -100%; width: 400%; height: 100%; /* li */ }

#resume .persona_slide ul li { float: left; width: 25%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; }

#resume .persona_slide ul li.persona_slide_image_01 { background-image: url("../img/persona_01.png"); }

#resume .persona_slide ul li.persona_slide_image_02 { background-image: url("../img/persona_02.png"); }

#resume .persona_slide ul li.persona_slide_image_03 { background-image: url("../img/persona_03.png"); }

/* #resume */
.emptyBox { width: 100%; height: 1000px; }

/* emptyBox */
#footBox { width: 100%; height: 220px; background-color: #222; color: #fff; /* textBox */ }

#footBox .textBox { width: 1120px; height: 100%; margin: auto; text-align: center; /* link */ }

#footBox .textBox .link { margin: auto; width: 250px; height: 80px; display: flex; /* li */ }

#footBox .textBox .link li { width: 100px; height: 100%; margin-left: 12px; }

#footBox .textBox .link li a { display: block; width: 100%; height: 100%; color: #fff; line-height: 80px; }

#footBox .textBox .site { width: 100%; height: 60px; }

#footBox .textBox .site h2 { font-size: 18px; line-height: 1.7; }

/* footBox */
