@mixin main_375{
    @media screen and (max-width:767px) {
    // ======================================================================================
    #wrap {width:100%; height: 100%; }
    #bg {width: 100%; height: 720px; 
        overflow: hidden;
         @include url; 
         background-image: url(../img/main_bg_02.jpg);
         background-size:cover;}
    // ======================================================================================

        #headBox {
            position:fixed;
            z-index:9999;
            width:100%; 
            height:4rem; 
            padding-top:0;
            background-color: #222;

            .nav {display: none;} // pc

            h1 {
                display: none;
            } // h1

            .mypage_icon {
                float:right;
                width: 4rem;
                height: 3rem;
                margin-top:-2.3125rem;
                background-color: transparent;
                display: block;

                i {
                    font-size: 1.2rem;
                    color:#fff;
                }
            } // mypage_icon

            .search_icon {
                float:right;
                width: 4rem;
                height: 3rem;
                margin-top:-2.3125rem;
                background-color: transparent;
                display: block;

                i {
                    font-size: 1.2rem;
                    color:#fff;
                }
            } // search_icon

            .menu {
                width: 4rem;
                height: 3rem;
                padding-top:20px;
                background-color: transparent;
                display: block;

                i {
                    font-size: 1.5rem;
                    color:#fff;
                }
            }

            .categori {
                position:relative;
                top:25%;
                width: 15rem; 
                height: 58.7rem;
                left:-240px;
                transition:300ms ease;
                border-top:1px solid #ccc;
                display: block;

                background-color: #222;

                .nav_close {
                    margin-left:12rem;
                    width: 3rem;
                    height: 3rem;
                    background-color:transparent;

                    i {
                        font-size:1.2rem;
                    }
                }

                .nav_list {
                    width: 15rem;
                    height: 100%;
                    display: block;

                    ul {
                        li {
                            width: 15rem;
                            height: 100px;

                            span {
                                display: block;
                                color:#fff;
                                font-weight:bold;
                                text-align: center;
                                line-height:100px;
                                border-bottom:1px solid #ccc;
                            }

                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        li:nth-child(1) {border-top:1px solid #ccc;}
                    } // ul
                } // nav_list
            } // .categori
            .categori.active {
                transform:translateX(100%);
                transition:300ms ease;
            }
        } // #headBox
        // ============================================================================
        
        #banner {
            padding-top:160px;
            margin:auto;
            width: 23.4375rem;
            height: 550px;
        
            .textBox {
                width: 100%;
                height: 200px;
                text-align: center;
        
                .hi {
                    p {
                        font-size: 20px;
                        text-align: center;
                    }
                } // .hi
        
                .im { 
                    margin:auto;
                    width: 20rem;
                    height: 50px;
                    p {
                        font-size: 30px;
                        float:left;
                        line-height:50px;
                    }
                    span {
                        font-size: 38px;
                        font-weight: bold;
                        float:right;
                    }
                } // .im
        
                .work {
                    padding-top:1rem;
                    margin:auto;
                    width: 200px;
                    height: 40px;
        
                    p {
                        font-size:16px;
                        font-weight:300;
                    }
                } // .work
        
                .icon {
                    .fontawesome {
                        width: 18.75rem;
                        display: inline-block;
                        position:absolute;
                        top:20rem;
                        left:50%;
                        -ms-transform:translate(-50%,-50%);
                        -webkit-transform:translate(-50%,-50%);
                        transform:translate(-50%,-50%);
                      }
                } // .icon

                .pointer {
                    margin-top:300px;
                    width: 100%;
                    height: 80px;
                }
            } // .textBox
        } // #banner
        // ============================================================================

        #profile {
            padding-top:50px;
            box-sizing: border-box;
            width: 100%;
            height: 1200px;

            .top-btn {
                position:fixed;
                z-index:2000;
                width: 25px;
                height: 25px;
                bottom:2.5rem;
                right:1.5rem;
                box-sizing: content-box;
                border-radius: 0.5rem;
                text-transform: capitalize;
                line-height: 2.5rem;
                transition:all 1000ms ease;
                background-color: #222;

                p {font-size:3px;
                line-height:10px;}
        
                &:hover,&:focus {
                    background-color: red;
                    animation:bonus 1000ms ease infinite alternate;
                }
            }

            .skill_pop {
                opacity: 0;
            } /* skill_pop */

            .profileBox {
                width: 100%;
                height: 570px;
                margin:auto;
        
                .myImg {
                    position:relative;
                    width: 100%;
                    height: 300px;
                    @include url;
                    background-image: url(../img/my.png);
                } /* myImg */
        
                .myTextBox {
                    color:#222;
                    float:right;
                    width: 100%;
                    height: 1000px;
                    padding:15px;
                    box-sizing: border-box;

                    .intro {
                        width: 100%;
                        height: 450px;
                    } /* intro */

                    .Privacy {
                        width: 100%;
                        height: 250px;
        
                        p {
                            font-size: 14px;
                            line-height: 50px;
                        }
        
                        .leftBox {
                            float:left;
                            width: 35%;
                            height: 100%;
                        } /* leftBox */
        
                        .rightBox {
                            float:right;
                            width: 65%;
                            height: 100%;
                        } /* rightBox */    
                    } /* Privacy */
        

                    .buttonBox {
                        padding-top:20px;
                        box-sizing: border-box;
                        width: 100%;
                        height: 70px;
        
                        .contact {
                            float:left;
                            width: 45%;
                            height: 50px;
                            border-radius:30px;
                            border:1px solid #222;
        
                            a {
                                display: block;
                                color:#222;
                                width: 100%;
                                height: 100%;
                                text-align: center;
              
                            span {
                                line-height: 50px;
                                font-weight: bold;  
                            } /* span */
                          } /* a */
                        } /* contact */
        
                        .skill {
                            float:right;
                            width: 45%;
                            height: 50px;
                            border-radius:30px;
                            border:1px solid #222;
        
                            a {
                                display: block;
                                color:#222;
                                width: 100%;
                                height: 100%;
                            
        
                            span {
                                display: block;
                                text-align: center;
                                line-height: 50px;
                                font-weight: bold;
                            } /* span */
                          } /* a */
                        } /* skill */
                    } /* buttonBox */
                } /* myTextBox */
            } /* .profileBox */
        } /* #profile */
        // ============================================================================
        
        
        #portfolio {
            width: 100%;
            height: 1200px;
        
            .product_textBox {
                margin:auto;
                width: 90%;
                height: 280px;

                h2 {
                    text-align: center;
                    width: 100%;
                    height: 50px;
                }
        
                p {
                    text-align: center;
                    margin-top:15%;
                }
                
                .red_line {
                    margin:auto;
                    width: 4px;
                    height: 30px;
                    background-color: #222;
                }
            } /* product_textBox */
        
            .product {
                margin-bottom:10%;
                width:100%;
                height: 1100px;

                ul {
                    width: 100%;
                    height: 100%;
        
                    li {
                        margin:auto;
                        width:100%;
                        height:25%;
                    }
                } /* ul */
            } /* .product */
        
            .load_more {
                    margin-top:3rem;
            } /* load_more */
        } /* #portfolio */
        // ============================================================================
        
        
        #resume {
            margin-top:25rem;
            width: 100%;
            height: 1600px;
        
            .product_textBox {
                margin-top:-50%;
                width: 100%;
                height: 160px;
            } /* product_textBox */
        
        .resumeBox {
            padding-top:50px;
            width: 90%;
            height: 100%;
            margin:auto;
             
            .resume_element {
                width: 100%;
                height:50px;
                border:1px solid #222;
                margin-bottom:20px;
        
                p {
                    display: none;
                }
        
                span {
                    display: block;
                    width: 85%;
                    padding:15px;
                    font-weight:bold;
                }
        
                .underline {
                    display: none;
                }
            } /* resume_element */

            .Education {
                width: 100%;
                height:320px;
                margin:auto;
            } /* Education */
        
            .Experience {
                width: 100%;
                height: 320px;
            } /* Experience */
         } /* resumeBox */

         .fixBox {
            position: relative;
            margin-bottom:50px;
            width: 100%;
            height: 300px;
            top:-50%;

            @include url;
            background-image: url(../img/code.jpg);
            background-size:cover;
            background-position: 50% 50%;
            background-attachment: fixed;
            opacity: 30%;
        } /* fixBox */
        
            .persona_slide {
                overflow: hidden;
                margin: auto;
                position: relative;
                top:-55%;
                width: 100%;
                height: 300px;
                margin-top: 80px;
        
                .btn {
                    position: absolute;
                    z-index: 30;
                    bottom:35%;
                    width: 100%;
                    height: 100px;
                } /* btn */

                ul {
                    $count: 4;
                    position: relative;
                    margin-left: -100%;
                    width: 100% * $count;
                    height: 100%;
        
                    li {
                        float: left;
                        width: 100% / $count;
                        height: 100%;
                        @include url;
        
                        &.persona_slide_image_01 {
                            background-image: url("../img/persona_01.png");
                            background-size:150%;
                        }
        
                        &.persona_slide_image_02 {
                            background-image: url("../img/persona_02.png");
                            background-size:150%;
                        }
        
                        &.persona_slide_image_03 {
                            background-image: url("../img/persona_03.png");
                            background-size:150%;
                        }
                    } /* li */
                } /* ul */
            } /* main_slide */
        } /* #resume */
        // ============================================================================

            .emptyBox {
                display: none;
            } /* emptyBox */
         // ============================================================================

         
            #footBox {
                position: relative;
                width: 100%;
                height: 120px;
                background-color: #222;
                color:#fff;
        
                .textBox {
                    width: 100%;
                    height: 100%;
                    margin:auto;
                    text-align: center;

                    .link {
                        margin:auto;
                        width: 250px;
                        height: 50px;
                        display: flex;
        
                        li {
                            width: 100px;
                            height: 100%;
                            margin-left: 12px;
        
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                color:#fff;
                                line-height: 80px;
                            }
                        } /* li */
                    } /* link */
        
                    .site {
                       display: none;
                    }

                    .copyright {
                        width: 100%;
                        height: 20px;
                    }

                } /* textBox */
            } /* footBox */ 

    } // @media screen
} // @mixin main_768